/* Application styles */

#preview {
  border: 1px solid var(--gray300);
  margin: 1rem 0;
}

.sheet {
  /* Lines no longer exists */
  font-family: Lines, Futura, "Century Gothic", sans-serif;
  font-size: 5rem;
}

[data-font="dots"] {
  /* Dots no longer exists */
  font-family: Dots, Futura, "Century Gothic", sans-serif;
}
